body, form, .buttons {
  margin: 0;
}

.fields {
  margin: 1em;
}
.buttons {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: gray;
}

button[type="submit"] {
  padding: 0.5em 1em;
  border-radius: 2px;
  border: none;
  background-color: #3dd28d;
  color: white;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #31de8e;
}

label, button[type="submit"] {
  font-weight: bold;
  font-size: 115%;
}

input {
  width: 75%;
}

.csa-example {
  display: block;
  width: 75%;
  height: 300px;
}
